In [29]:
import pandas as pd

data = pd.read_csv('raw_data.csv')
data.set_index('date', inplace=True)
data.head()

,harrypotterwiki,hogwartsishere,jkrowling,harrypotterlexicon,mugglenet,pottermore,wizardingworld
date,,,,,,,
2016-01-01,0,0,0,0,0,10,16
2016-01-02,0,0,0,25,0,11,24
2016-01-03,0,0,0,32,22,10,19
2016-01-04,0,0,0,0,49,8,14
2016-01-05,22,0,0,0,0,8,14

In [55]:
new = pd.DataFrame()
for column in data:
    if column == 'harrypotterwiki':
        new = pd.DataFrame(data['harrypotterwiki'], index=data.index)
        new['source'] = column
        new.rename(columns={'harrypotterwiki': 'searches'}, inplace=True)
    else:
        temp = pd.DataFrame(data[column], index=data.index)
        temp['source'] = column
        temp.rename(columns={f'{column}': 'searches'}, inplace=True)
        pd.concat([new, temp], axis=1)

print(len(new))
new.tail()

1096

            searches           source
date
2018-12-27         0  harrypotterwiki
2018-12-28         0  harrypotterwiki
2018-12-29         0  harrypotterwiki
2018-12-30         0  harrypotterwiki
2018-12-31         4  harrypotterwiki